<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cocktail</title>
  </head>
  <body>
    <h1><%= data.strDrink%></h1>
    <h2>Category: <%=data.strCategory%></h2>
    <h2>Alcoholic: <%=data.strAlcoholic%></h2>
    <h2>Glass: <%=data.strGlass%></h2>
    <% for (let i = 1; i <= 15; i++) { %> <% if (data[`strIngredient${i}`] &&
    data[`strMeasure${i}`]) { %>
    <h2><%= data[`strMeasure${i}`] %> <%= data[`strIngredient${i}`] %></h2>
    <% } %> <% } %>
    <h2>Instructions: <%=data.strInstructions%></h2>
    <img src="<%=data.strDrinkThumb%>" alt="<%=data.strDrink%>" />
  </body>
</html>
